/* SPECIFIC  ATTRIBUTES E.G. body/h2 */
* {
  margin: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
min-width: 1590px;
  margin: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), #640683);
  overflow: hidden;
  }

/* Welcome to Notes heading */
h2 {
  position: absolute;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  top: 10%; /* Adjust the top percentage as needed */
  left: 50%;
  transform: translateX(-50%);
  user-select: none; /* Prevent text selection */
}

h2:hover {
  margin-bottom: 720px;
  transition: all 0.2s ease;
}

h2:not(:hover) {
  margin-top: 20px; /* Adjust the margin-top value when not hovering */
  transition: all 0.2s ease;
  transition-delay: 0.2s;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-right: 105px;
  margin-bottom: 300px;
  user-select: none; /* Prevent text selection */
}

.login h1:hover {
  margin-bottom: 300px;
  transition: all 0.2s ease;
}

.login h1:not(:hover) {
  margin-top: 20px; /* Adjust the margin-top value when not hovering */
  transition: all 0.2s ease;
  transition-delay: 0.2s;
}

.signUpButton:hover {
  font-size: 3rem;
  transition: all 0.2s ease;
}

.signUpButton:not(:hover) {
  margin-top: 20px; /* Adjust the margin-top value when not hovering */
  transition: all 0.2s ease;
  transition-delay: 0.2s;
}

/* CUSTOM MADE CLASSES */

.creator{
  font-size: 1rem;
  position: absolute;
  color: rgba(255, 255, 255, 0.523);
  top: 95%;
  left: 10%;
  transform: translateX(-50%);
  user-select: none;
}

.highlighth2 {
  font-size: 4rem;
  color: #cd1fcd;
}

.highlighth1 {
  position: absolute;
  font-size: 2.4rem;
  color: rgb(170, 27, 170);
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #20202077; /* Set the background color for the login div */
  width: 400px; /* Set the width of the login div */
  height: 400px; /* Set the height of the login div */
  padding: 20px; /* Add padding for better aesthetics */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.loginUsername {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgba(46, 46, 46, 0.625);
  margin-bottom: 100px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #cc0bee; /* Set border properties */
  cursor: none;
}

.signUpUsername {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgba(46, 46, 46, 0.625);
  margin-bottom: 200px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #cc0bee; /* Set border properties */
cursor: none;
}

.signUpPassword {
  position: absolute;
  color: rgb(255, 255, 255);
background-color: rgba(46, 46, 46, 0.625);
  margin-bottom: 20px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #cc0bee; /* Set border properties */
  cursor: none;
}

.signUpSecondPassword {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgba(46, 46, 46, 0.625);
  margin-bottom: -150px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #cc0bee; /* Set border properties */
  cursor: none;
}

.loginPassword {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgba(46, 46, 46, 0.625);
  margin-bottom: -100px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #cc0bee; /* Set border properties */
  cursor: none;
}

input {
  caret-color: transparent;
}

input:hover {
  cursor: pointer;
}

input::placeholder {
  color: #ffffff; /* Set your desired placeholder text color */
  font-size: 15px;
}

.signUpButton {
  position: absolute;
  font-size: 2.5rem;
  color: white;
  background-color: rgba(210, 26, 210, 0);
  border-radius: 7px;
  border: none;
  font-weight: bold;
  padding: 10px;
  top: 5%; /* Adjust the top percentage as needed */
  left: 90%;
  transform: translateX(-50%);
  cursor: pointer;
}

.loginButton {
  color: white;
  background-color: rgba(210, 26, 210, 0.537);
  border-radius: 7px;
  border: none;
font-size: 25px;
  font-weight: bold;
  position: absolute;
  margin-top: 260px;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.createButton {
  color: white;
  background-color: rgba(210, 26, 210, 0.537);
  border-radius: 7px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  margin-top: 290px;
  width: 130px;
  height: 50px;
  cursor: pointer;
}

.createButton:hover {
  background-color: rgba(177, 32, 177, 0.537);
  transition: all 0.2s ease;
}

.loginButton:hover {
  background-color: rgba(177, 32, 177, 0.537);
  transition: all 0.2s ease;
}

.homeButton {
  position: absolute;
  background-image: url("./images/home.png");
  background-size: 70px 70px;
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: none;
  top: 5%;
  left: 5%;
  transform: translateX(-50%);
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.homeButton:hover {
  transition: all 0.2s ease;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
}

.homeButton:not(hover) {
  transition: all 0.2s ease;
  background-size: 70px 70px;
  width: 70px;
  height: 70px;
  transition-delay: 0.2s;
}


/* Media query for smaller screens (e.g., phones) */
@media screen and (max-width: 767px) {
  /* Adjust styles for smaller screens here */

  /* Container for the login section */
  .login-container {
    width: 80%; /* Set a different width for smaller screens */
  }

  /* Welcome to Notes heading */
  h2 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .highlighth2{
    font-size: 3rem;
  }

  /* SignUp button */
  .signUpButton {
    font-size: 1rem; /* Adjust font size for smaller screens */
    top: 2%;
    left: 85%;
  }

  .signUpButton:hover {
    font-size: 1.5rem;
    transition: all 0.2s ease;
  }

  .signUpButton:not(:hover) {
    margin-top: 20px; /* Adjust the margin-top value when not hovering */
    transition: all 0.2s ease;
    transition-delay: 0.2s;
  }

  .creator{
    left: 15%;
    top: 95%;
    font-size: 0.8rem;
  }

  .homeButton{
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
  }

  .homeButton:hover {
  transition: all 0.2s ease;
  background-size: 70px 70px;
  width: 70px;
  height: 70px;
}

  .homeButton:not(hover) {
    transition: all 0.2s ease;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    transition-delay: 0.2s;
  }
}